.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* 푸터 가변 길이 설정*/
  height: auto;
  min-height: 100%;
  padding-bottom: 180px;
}
@media screen and (max-width: 768px) {
  .content {
    width: 80%;
  }
  .title {
    margin: 5px;
    font-family: "Gothic A1", sans-serif;
    font-weight: bold;
    font-size: 1.3rem;
  }
  .tabletext {
    margin: 5px;
    font-family: "Gothic A1", sans-serif;
    font-weight: 600;
    font-size: 1rem;
    width: 25%;
    text-align: center;
  }
  .table {
    margin-top: 1.5rem;
  }
  .text {
    font-size: 1rem;
    font-family: "Gothic A1", sans-serif;
    font-weight: 400;
  }
  .icon {
    font-size: 1.75rem;
    text-decoration: none;
    color: black;
  }
}
@media screen and (min-width: 768px) {
  .content {
    width: 70%;
  }
  .title {
    margin: 5px;
    font-family: "Gothic A1", sans-serif;
    font-weight: bold;
    font-size: 1.69rem;
  }
  .tabletext {
    margin: 5px;
    font-family: "Gothic A1", sans-serif;
    font-weight: 600;
    font-size: 1.3rem;
    width: 25%;
    text-align: center;
  }
  .table {
    margin-top: 1.5rem;
  }
  .text {
    font-size: 1.3rem;
    font-family: "Gothic A1", sans-serif;
    font-weight: 400;
  }
  .icon {
    font-size: 2.5rem;
  }
}
.img {
  width: 100%;
  height: 100%;
}
.titlebox {
  width: 80%;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  margin: 5px;
}
.box {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.titlebox {
  width: 80%;
  margin: 5px;
}
.row {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
