.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* 푸터 가변 길이 설정*/
  height: auto;
  min-height: 100%;
  padding-bottom: 180px;
}
.content {
  width: 100%;
  height: 100%;
  display: flex;
}
@media screen and (max-width: 768px) {
  .imgbox {
    width: 80%;
  }
}
@media screen and (min-width: 768px) {
  .imgbox {
    width: 50%;
  }
}
.img {
  width: 100%;
  height: 100%;
}
